<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/rinxorcloud?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">password</property>
    <!-- JDBC connection pool (use the built-in) -->
    <property name="connection.pool_size">1</property>
    <!-- Enable Hibernate's automatic session context management -->
    <property name="current_session_context_class">thread</property>
    <!-- Disable the second-level cache  -->
    <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
    <!-- Echo all executed SQL to stdout -->
    <property name="show_sql">false</property>
    <property name="hbm2ddl.auto">validate</property>
    <mapping class="com.rinxor.cloud.db.mysql.Network"/>
    <mapping class="com.rinxor.cloud.db.mysql.Planview"/>
    <mapping class="com.rinxor.cloud.db.mysql.Networkoffering"/>
    <mapping class="com.rinxor.cloud.db.mysql.Cloudstackplan"/>
    <mapping class="com.rinxor.cloud.db.mysql.Serviceoffering"/>
    <mapping class="com.rinxor.cloud.db.mysql.Iso"/>
    <mapping class="com.rinxor.cloud.db.mysql.Diskoffering"/>
    <mapping class="com.rinxor.cloud.db.mysql.Cloudstackuser"/>
    <mapping class="com.rinxor.cloud.db.mysql.Asyncjob"/>
    <mapping class="com.rinxor.cloud.db.mysql.Vmsusage"/>
    <mapping class="com.rinxor.cloud.db.mysql.Vmsusageminute"/>
    <mapping class="com.rinxor.cloud.db.mysql.Vmsusagehour"/>
    <mapping class="com.rinxor.cloud.db.mysql.Vmsusageday"/>
    <mapping class="com.rinxor.cloud.db.mysql.Vms"/>
    <mapping class="com.rinxor.cloud.db.mysql.Zone"/>
  </session-factory>
</hibernate-configuration>
